<%- include('partials/header') -%>

<main class="container-xl bg-info">
    <div class="row justify-content-around mt-5">
        <a href="/login" class="col-3 btn btn-secondary text-white"> Login</a>
        <a href="/signup" class="col-3 btn btn-secondary text-white"> Signup</a>
    </div>
</main>
    

<%- include('partials/footer') -%>